*:focus {
	outline: none;
}

.button {
	display: inline-block;
	border-radius: 3px;
	background-color: #26C6DA;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	padding: 8px 15px;
	border-color: rgba(0, 188, 212, 0.5);
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: outset;
	border-bottom-width: 3px;
	border-right-style: outset;
	border-right-width: 2.5px;
	cursor: pointer;
}

a:visited {
	background-color: #0097A7;
	border-color: rgba(0, 131, 143, 0.25);
}

.button:hover {
	background-color: #00E5FF;
	border-color: rgba(38, 198, 218, 0.25);
}

.button:active {
	background-color: #00ACC1;
	border-style: inset;
	border-color: rgba(0, 151, 167, 0.25);
	border-width: 3px 1px 1px 3px;
}

.button-sm {
	width: 45px;
	font-size: 40%;
	padding: 3px 5px;
}

.button-md {
	width: 70px;
	height: 25px;
	font-size: 70%;
	padding: 3px 8px;
}

.button-lg {
	width: 100px;
	height: 38px;
	padding: 5px 10px;
}

