<!DOCTYPE html>
<html lang="en">
<head>
	<title>Buttons</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
</head>
<body>
  <h3>A Basic Button</h3>
  <div class="btn btn-buy">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    Buy Now
  </div>

  <h3>A Button Element with the Button Class</h3>
  <button class="btn btn-mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>Send Mail</button>

  <h3>An Anchor with a Button Class</h3>
  <a href="#" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i>Search</a>

  <h3>Buttons of different sizes</h3>
  <div class="btn btn-sm">A Small Button</div>
  <div class="btn btn-md">A Medium Button</div>
  <div class="btn btn-lg">A Large Button</div>
</body>
</html>