*:focus {
	outline: none;
	box-sizing: border-box;
}

.btn {
	display: inline-block;
  border: none;
	border-radius: 3px;
	background-color: #26C6DA;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	padding: 10px 25px;
	cursor: pointer;
  text-transform: uppercase;
  margin: 5px;

  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);

  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.btn:hover {
	background-color: #00BCD4;
}

.btn:active {
	background-color: #00ACC1;
}

.btn-buy::before,
.btn-mail::before,
.btn-search::before {
  font-family: 'icomoon';
  margin-left: 0;
  margin-right: 10px;
  font-size: 14px;
}

.btn-buy::before {
  content: '\e93a';
}

.btn-mail::before {
  content: '\e900';
}

.btn-search::before {
  content: '\e986';
}

.btn-sm {
	font-size: 12px;
  padding: 8px 15px;
}

.btn-lg {
	font-size: 20px;
  padding: 15px 30px;
}

