<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Products</title>
	<link rel="stylesheet" type="text/css" href="product-listing.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,200,700' rel='stylesheet' type='text/css'>
	<script src="product-listing.js"></script>
</head>
<body>
	<a name="top"></a>

	<div class="header">
		<div class="left-hd">
			<p>Free shipping &amp; Free returns within the US</p>
		</div>
		<div class="logo">
			<img src="http://placehold.it/350x50?text=logo">
		</div>
		<div class="right-hd">
			<a href="../forms/login-form.html" target="_blank">sign in | register</a>
		</div>
	</div>

	<div class="body">
		<div class="top-menu">
			<ul class="top-menu-list">
				<li class="top-menu-item"><a href="#">Designers</a></li>
				<li class="top-menu-item current"><a href="#">Women</a></li>
				<li class="top-menu-item"><a href="#">Men</a></li>
				<li class="top-menu-item"><a href="#">Sales</a></li>
			</ul>

			<form method="get" class="search-bar">
				<input type="search" name="insite-search" placeholder="search">
			</form>
		</div>

		<hr class="top-menu-hr">

		<div class="left-bar">
			<ul class="side-menu">
				<li class="current"><a href="#">Clothing</a>
					<ul>
						<li><a href="#">Coats</a></li>
						<li><a href="#">Dresses</a></li>
						<li class="current"><a href="#">Pants &amp; Shorts</a></li>
						<li><a href="#">Skirts</a></li>
						<li><a href="#">Sweaters</a></li>
						<li><a href="#">Tops</a></li>
					</ul>
				</li>
				<li><a href="#">Bags</a></li>
				<li><a href="#">Shoes</a></li>
				<li><a href="#">Accessories</a></li>
				<li><a href="#">Sales</a></li>
			</ul>
			<hr class="left-bar-hr">
			
			<div class="size-bar">
				<form method="get">
					<lable><span>Size</span><br>
						<input type="checkbox" id="cb1" value="xxs" name="size">
						<label for="cb1">XXS</label><br>

						<input type="checkbox" id="cb2" value="xs" name="size">
						<label for="cb2">XS</label><br>

						<input type="checkbox" id="cb3" value="s" name="size">
						<label for="cb3">S</label><br>

						<input type="checkbox" id="cb4" value="m" name="size">
						<label for="cb4">M</label><br>

						<input type="checkbox" id="cb5" value="l" name="size">
						<label for="cb5">L</label><br>

						<input type="checkbox" id="cb6" value="xl" name="size">
						<label for="cb6">XL</label><br>

						<input type="checkbox" id="cb7" value="xxl" name="size">
						<label for="cb7">XXL</label><br>

						<input type="submit" name="sumit" value="Apply">
					</lable>
				</form>
			</div>
		</div>

		<div class="main">
			<div class="row row1">
				<div class="col col1">
					<a href="#">
						<img src="http://placehold.it/200x200">
						<p>Brand Name</p>
						<p>In eu ligula pulvinar neque pharetra vestibulum</p>
						<p class="price">$price</p>
					</a>
					<button name="add-item" type="button">Add to Bag</button>
				</div>
				<div class="col col2">
					<a href="#">
						<img src="http://placehold.it/200x200">
						<p>Brand Name</p>
						<p>In eu ligula pulvinar neque pharetra vestibulum</p>
						<p class="original-pr">$price</p>
						<p class="discounted-pr">$discounted price</p>
					</a>
					<button name="add-item" type="button">Add to Bag</button>
				</div>
				<div class="col col3">
					<a href="#">
						<img src="http://placehold.it/200x200">
						<p>Brand Name</p>
						<p>In eu ligula pulvinar neque pharetra vestibulum</p>
						<p class="price">$price</p>
					</a>
					<button name="add-item" type="button">Add to Bag</button>
				</div>
			</div>

			<div class="row row2">
				<div class="col col1">
					<a href="#">
						<img src="http://placehold.it/200x200">
						<p>Brand Name</p>
						<p>In eu ligula pulvinar neque pharetra vestibulum</p>
						<p class="price">$price</p>
					</a>
					<button name="add-item" type="button">Add to Bag</button>
				</div>
				<div class="col col2">
					<a href="#">
						<img src="http://placehold.it/200x200">
						<p>Brand Name</p>
						<p>In eu ligula pulvinar neque pharetra vestibulum</p>
						<p class="price">$price</p>
						</a>
						<button name="add-item" type="button">Add to Bag</button>
				</div>
				<div class="col col3">
					<a href="#">
						<img src="http://placehold.it/200x200">
						<p>Brand Name</p>
						<p>In eu ligula pulvinar neque pharetra vestibulum</p>
						<p class="price">$price</p>
					</a>
					<button name="add-item" type="button">Add to Bag</button>
				</div>
			</div>

			<div class="row row3">
				<div class="col col1">
					<a href="#">
						<img src="http://placehold.it/200x200">
						<p>Brand Name</p>
						<p>In eu ligula pulvinar neque pharetra vestibulum</p>
						<p class="price">$price</p>
					</a>
					<button name="add-item" type="button">Add to Bag</button>
				</div>
				<div class="col col2">
					<a href="#">
						<img src="http://placehold.it/200x200">
						<p>Brand Name</p>
						<p>In eu ligula pulvinar neque pharetra vestibulum</p>
						<p class="price">$price</p>
					</a>
					<button name="add-item" type="button">Add to Bag</button>
				</div>
				<div class="col col3">
					<a href="#">
						<img src="http://placehold.it/200x200">
						<p>Brand Name</p>
						<p>In eu ligula pulvinar neque pharetra vestibulum</p>
						<p class="price">$price</p>
					</a>
					<button name="add-item" type="button">Add to Bag</button>
				</div>
			</div>

			<div class="row row4">
				<div class="col col1">
					<a href="#">
						<img src="http://placehold.it/200x200">
						<p>Brand Name</p>
						<p>In eu ligula pulvinar neque pharetra vestibulum</p>
						<p class="price">$price</p>
					</a>
					<button name="add-item" type="button">Add to Bag</button>
				</div>
				<div class="col col2">
					<a href="#">
						<img src="http://placehold.it/200x200">
						<p>Brand Name</p>
						<p>In eu ligula pulvinar neque pharetra vestibulum</p>
						<p class="original-pr"><s>$price</s></p>
						<p class="discounted-pr">$discounted price</p>
					</a>
					<button name="add-item" type="button">Add to Bag</button>
				</div>
				<div class="col col3">
					<a href="#">
						<img src="http://placehold.it/200x200">
						<p>Brand Name</p>
						<p>In eu ligula pulvinar neque pharetra vestibulum</p>
						<p class="original-pr"><s>$price</s></p>
						<p class="discounted-pr">$discounted price</p>
					</a>
					<button name="add-item" type="button">Add to Bag</button>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="footer-col1">
			<p class="ft-title">HELP</p>
			<ul>
				<li><a href="#" target="_blank">Shipping / Returns</a></li>
				<li><a href="#" target="_blank">Contact Us</a></li>
				<li><a href="#" target="_blank">FAQs</a></li>
			</ul>
		</div>

		<div class="footer-col2">
			<p class="ft-title">ABOUT US</p>
			<ul>
				<li><a href="#" target="_blank">About Us</a></li>
				<li><a href="#" target="_blank">Careers</a></li>
			</ul>
		</div>

		<div class="footer-col3">
			<a href="#" target="_blank"><img src="http://adconcepts.com.my/wp-content/uploads/Facebook_orange.png" alt="facebook"></a>
			<a href="#" target="_blank"><img src="http://www.uj.ac.za/corporateservices/centres/uj-sport/PublishingImages/Pages/default/twitter-3-256.png" alt="twitter"></a>
			<a href="#" target="_blank"><img src="https://advancement.ridleycollege.com/image/instagram-512.gif" alt="instagram"></a>
		</div>
	</div>

	<a href="#top" class="back-to-top"><span>↑</span></a>


	<button id="closed-bag" type="button" name="open-bag" onclick="showBag()">SHOPPING BAG&nbsp;<img src="http://www.frauleinannie.com/templates/EyeCandy/img/icons/icon-grey-basket-big.png" alt="shopping bag"></button>

	<div id="opened-bag">
		<button id="close" type="button" name="close-bag" onclick="closeBag()">╳</button>
		<div class="shopping-bag-header">
			<h2>My Shopping Bag</h2>
			<button class="cont-shopping" type="button" name="cont-shopping" onclick="closeBag()"><span>Continue Shopping</span></button>
			<button class="checkout" type="button" name="checkout"><span>Checkout</span></button>
		</div>

		<table>
			<tr class="first-row upper-row">
				<td rowspan="2" class="col1"><img src="http://placehold.it/100x100"></td>
				<td class="col2">Brand name: In eu ligula pulvinar neque pharetra vestibulum</td>
				<td class="col3"><input type="number" name="quantity" min="1" value="1"></td>
				<td class="price col4">$price</td>
			</tr>
			<tr class="lower-row">
				<td  class="col2">Color / Size</td>
				<td class="col3"><a href="#">remove</a></td>
				<td class="discounted-pr col4"></td>
			</tr>

			<tr class="upper-row">
				<td rowspan="2" class="col1"><img src="http://placehold.it/100x100"></td>
				<td class="col2">Brand name: In eu ligula pulvinar neque pharetra vestibulum</td>
				<td class="col3"><input type="number" name="quantity" min="1" value="1"></td>
				<td class="price col4">$price</td>
			</tr>
			<tr class="lower-row">
				<td class="col2">Color / Size</td>
				<td class="col3"><a href="#">remove</a></td>
				<td class="discounted-pr col4"></td>
			</tr>

			<tr class="upper-row">
				<td rowspan="2" class="col1"><img src="http://placehold.it/100x100"></td>
				<td class="col2">Brand name: In eu ligula pulvinar neque pharetra vestibulum</td>
				<td class="col3"><input type="number" name="quantity" min="1" value="1"></td>
				<td class="original-pr col4">$price</td>
			</tr>
			<tr class="lower-row">
				<td class="col2">Color / Size</td>
				<td class="col3"><a href="#">remove</a></td>
				<td class="discounted-pr col4">$discounted price</td>
			</tr>

			<tr class="summary">
				<td class="col1">Promotion Code</td>
				<td class="col2">
					<input type="text" name="promo" placeholder="enter a promotion code">
					<input type="submit" name="submit-promo" value="Apply">
				</td>
				<td class="col3">Order Total:</td>
				<td id="total-pr" class="col4">$total price</td>
			</tr>
		</table>
	</div>

</body>
</html>