<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile Card</title>
	<link rel="stylesheet" type="text/css" href="profile-card.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="frame">
		<img src="http://i.imgur.com/8hPUKLD.jpg?2">

		<h1 class="name"><span class="first-nm">Jing</span> <span class="last-nm">Ran</span></h1>

		<hr>

		<h2 class="title">About the Developer</h2>

		<p class="bio">Jing is a frontend-developer-in-progress. Part of her job is web page redesign from marketing aspect which stimulated her interest in web development. Therefore, she started to learn programming in 2015. She likes cats and travelling.</p>

		<a href="#">Back to Full Profile ➸</a>

	</div>
</body>
</html>