<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calculator</title>
	<link rel="stylesheet" type="text/css" href="calculator.css">
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="main">
		<div class="screens">
			<input id="screen1" type="text" name="screen" value="01324353" disabled>
			<input id="screen2" type="text" name="screen" value="01324353" disabled>
			<input id="screen3" type="text" name="screen" value="0132435.3+-×÷565" disabled>
		</div>

		<div class="nums-signs">
			<div class="row row1">
				<button class="btns col1 signs" value="clear">C</button>
				<button class="btns col2 signs" value="positive_negative">+/-</button>
				<button class="btns col3 signs" value="delete">del</button>
				<button class="btns col4 ops" value="division">÷</button>
			</div>
			
			<div class="row  row2">
				<button class="btns col1 nums" value="7">7</button>
				<button class="btns col2 nums" value="8">8</button>
				<button class="btns col3 nums" value="9">9</button>
				<button class="btns col4 ops" value="">×</button>
			</div>

			<div class="row row3">
				<button class="btns col1 nums" value="">4</button>
				<button class="btns col2 nums" value="">5</button>
				<button class="btns col3 nums" value="">6</button>
				<button class="btns col4 ops" value="">-</button>
			</div>

			<div class="row row4">
				<button class="btns col1 nums" value="">1</button>
				<button class="btns col2 nums" value="">2</button>
				<button class="btns col3 nums" value="">3</button>
				<button class="btns col4 ops" value="">+</button>
			</div>
			
			<div class="row row5">
				<button class="btns col1 signs" value="">%</button>
				<button class="btns col2 nums" value="">0</button>
				<button class="btns col3 signs" value="">•</button>
				<button class="btns col4 ops" value="">=</button>
			</div>
		</div>
	</div>
</body>
</html>