<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forget password?</title>
	<link rel="stylesheet" type="text/css" href="login-form.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="frame">
		<div class="header">
			<h2>Forgot Password?</h2>
			<p>Reset your password here.</p>
		</div>
		
		<div class="form">
			<form method="post">
				<div class="form-bd">
					<input type="email" name="email" placeholder="email address" required>
				</div>

				<input class="btn" type="submit" name="submit" value="Send Password to Me">
			</form>
		</div>
	</div>
</body>
</html>