<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Log into your account</title>
	<link rel="stylesheet" type="text/css" href="login-form.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="frame">
		<div class="header">
			<h2>Login</h2>
		</div>
	
		<div class="form">
			<form method="post">
				<div class="form-bd">
					<input type="text" name="usernm" placeholder="username/email" required>
				</div>
	
				<div class="form-bd">
					<input type="password" name="pw" placeholder="password" required>
				</div>
	
				<div class="float-rt">
					<a href="forgot-psw.html" target="_blank">Forgot your password?</a>
				</div>
	
				<input class="btn" type="submit" name="submit" value="Log in">
			</form>

			<hr>

			<div class="register">
				<p>Don't have an account? Sign up now!</p>
				<button class="btn"><a href="signup-form.html" target="_blank">Sign up</button>
			</div>

		</div>
	</div>
</body>
</html>